.speakers-section {
  padding: 60px 0;
  font-family: 'Golos Text', sans-serif;
  @media (max-width: 800px) {
    padding: 40px 0;
  }
}

.speakers-section__header {
  color: #142039;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.96px;
  max-width: 509px;
  margin-bottom: 32px;
  @media (max-width: 800px) {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.8px;
  }
  @media (max-width: 600px) {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 48px;
  }
}

.speakers-section__heading {
  color: #142039;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.76px;
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  gap: 20px;

  &:before {
    content: '';
    display: block;
    background-image: url('https://storage.yandexcloud.net/matetech-prod-file-storage/411379/one-star_5756e90d442293809d7ce2c7ca479d2e.webp');
    background-size: contain;
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
  }

  @media (max-width: 800px) {
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.6px;
  }
  @media (max-width: 600px) {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.48px;
    margin-bottom: 32px;
  }
}

.speakers-slider {
  position: relative;
}

.speakers-slider__arrow {
  position: absolute;
  cursor: pointer;
  top: 128px;
  transition: .3s ease;
  z-index: 2;
  &:hover {
    transform: scale(1.03);
  }
}

.speakers-slider__arrow_left {
  left: -90px;
  @media (max-width: 1300px) {
    left: -20px;
  }
  @media (max-width: 1100px) {
    left: 0;
  }
  @media (max-width: 600px) {
    left: 4px;
  }
}

.speakers-slider__arrow_right {
  right: -90px;
  @media (max-width: 1300px) {
    right: -20px;
  }
  @media (max-width: 1100px) {
    right: 0;
  }
  @media (max-width: 600px) {
    right: 4px;
  }
}