.about-section {
  padding: 60px 0;
  @media (max-width: 800px) {
    padding: 40px 0;
  }
}

.about-section__main {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 61px;
  @media (max-width: 600px) {
    margin-bottom: 40px;
  }
}

.about-main__content {
  width: 694px;
  max-width: 100%;
  @media (max-width: 1100px) {
    width: 518px;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}

.about-main__title {
  color: #0D1834;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.76px;
  margin-bottom: 30px;

  @media (max-width: 800px) {
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.6px;
  }
  @media (max-width: 600px) {
    font-size: 24px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.48px;
    margin-bottom: 24px;
  }
}

.about-main__description {
  color: #282047;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  width: 497px;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.about-main__images {
  position: relative;
  @media (max-width: 800px) {
    position: static;
  }
}

.about-main__atom {
  width: 276px;
  height: 276px;
  object-fit: contain;
  position: relative;
  right: 7.5px;
  top: -33px;
  @media (max-width: 1300px) {
    right: 25.689px;
    top: -33.167px;
  }
  @media (max-width: 1100px) {
    right: 18px;
    top: -33px;
  }
  @media (max-width: 800px) {
    right: -118px;
    top: -27px;
    position: absolute;
  }
  @media (max-width: 600px) {
    display: none;
  }
}


.about-main__sphere-big {
  position: absolute;
  right: -74px;
  top: -42px;
  width: 86px;
  height: 87px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='86' height='87' viewBox='0 0 86 87' fill='none'%3E%3Cpath d='M43 86.1033C66.7482 86.1033 86 66.8515 86 43.1033C86 19.355 66.7482 0.103271 43 0.103271C19.2518 0.103271 0 19.355 0 43.1033C0 66.8515 19.2518 86.1033 43 86.1033Z' fill='url(%23paint0_radial_303_8366)'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_303_8366' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(33.5427 26.6971) scale(48.6994)'%3E%3Cstop offset='0.02' stop-color='%23FBF3FC'/%3E%3Cstop offset='0.26' stop-color='%23E5E6FC'/%3E%3Cstop offset='0.55' stop-color='%23C6D3FD'/%3E%3Cstop offset='1' stop-color='%23A4BDFC'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  @media (max-width: 1300px) {
    right: -66px;
    top: -43.897px;
  }
  @media (max-width: 1100px) {
    right: -74px;
    top: -43.897px;
  }
  @media (max-width: 800px) {
    display: none;
  }

}

.about-main__sphere-small {
  position: absolute;
  right: 310px;
  bottom: 51px;
  width: 49px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='50' viewBox='0 0 49 50' fill='none'%3E%3Cpath d='M24.5 49.1033C38.031 49.1033 49 38.1342 49 24.6033C49 11.0723 38.031 0.103271 24.5 0.103271C10.969 0.103271 0 11.0723 0 24.6033C0 38.1342 10.969 49.1033 24.5 49.1033Z' fill='url(%23paint0_radial_303_8367)'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_303_8367' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(19.1115 15.2556) scale(27.7473)'%3E%3Cstop offset='0.02' stop-color='%23FBF3FC'/%3E%3Cstop offset='0.26' stop-color='%23E5E6FC'/%3E%3Cstop offset='0.55' stop-color='%23C6D3FD'/%3E%3Cstop offset='1' stop-color='%23A4BDFC'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  @media (max-width: 1300px) {
    right: 361px;
    bottom: 51px;
  }
  @media (max-width: 1100px) {
    right: 353px;
    bottom: 80px;
  }
  @media (max-width: 800px) {
    right: 179px;
    bottom: 187px;
  }
  @media (max-width: 600px) {
    display: none;
  }
}

.about-section__whom {
  display: flex;
  align-items: stretch;
  gap: 16px;
  @media (max-width: 1100px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.about-whom__block {
  padding: 56px 32px;
  flex: 1 0 0;
  border-radius: 10px;
  background: linear-gradient(160deg, #F8F8FF 0%, #E8EBF7 100%);
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  min-height: 373px;
  &:after{
    content: '';
    display: block;
    position: absolute;

    background-size: contain;
    background-repeat: no-repeat;
    right: 49.916px;
    top: 49.55px;
    @media (max-width: 1100px) {
      right: 49.916px;
      bottom: 12.251px;
      top: unset;
    }

    @media (max-width: 600px) {
      bottom: unset;
      right: 49.916px;
      top: 49.55px;
      width: 142.176px;
      height: 254.874px;
      transform: rotate(-1.794deg);
    }
  }
  @media (max-width: 1300px) {
    min-height: 380px;
  }
  @media (max-width: 1100px) {
    width: 100%;
    gap: 60px;
    padding: 46px 32px;
    min-height: 276px;
  }

  @media (max-width: 800px) {
    gap: 32px;
  }

  @media (max-width: 600px) {
    gap: 24px;
    flex-direction: column-reverse;

    min-height: unset;
    &:first-of-type{
      padding: 24px 32px 40px 32px;
    }
    &:nth-of-type(2) {
      padding: 40px 32px;
    }
  }

}

.about-whom__block:first-of-type {
  &:after{
    width: 156px;
    height: 299px;
    background-image: url("data:image/svg+xml,%3Csvg width='156' height='299' viewBox='0 0 156 299' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M10.5404 279.15C12.2323 283.519 15.7439 286.983 20.1237 288.65C15.7439 290.316 12.2323 293.78 10.5404 298.15C8.83125 293.791 5.32587 290.333 0.957031 288.65C5.33678 286.983 8.84845 283.519 10.5404 279.15Z' fill='%23735CFF'/%3E%3Cpath d='M145.54 0.149658C147.232 4.51959 150.744 7.98331 155.124 9.64966C150.744 11.316 147.232 14.7797 145.54 19.1497C143.831 14.7908 140.326 11.333 135.957 9.64966C140.337 7.98331 143.848 4.51959 145.54 0.149658Z' fill='%23735CFF'/%3E%3C/svg%3E");

    @media (max-width: 600px) {
      background-image: url("data:image/svg+xml,%3Csvg width='153' height='279' viewBox='0 0 153 279' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M87.5404 119.15C89.2323 123.52 92.7439 126.983 97.1237 128.65C92.7439 130.316 89.2323 133.78 87.5404 138.15C85.8313 133.791 82.3259 130.333 77.957 128.65C82.3368 126.983 85.8485 123.52 87.5404 119.15Z' fill='%23735CFF'/%3E%3Cpath d='M142.54 0.149658C144.232 4.51959 147.744 7.98331 152.124 9.64966C147.744 11.316 144.232 14.7797 142.54 19.1497C140.831 14.7908 137.326 11.333 132.957 9.64966C137.337 7.98331 140.848 4.51959 142.54 0.149658Z' fill='%23735CFF'/%3E%3C/svg%3E");
    }
  }
  .whom-block__link {
    margin-top: 65px;
    @media (max-width: 1100px) {
      margin-top: 45px;
    }
  }

  .about-whom__block-image {
    width: 191px;
    height: 206px;
    @media (max-width: 800px) {
      position: absolute;
      top: 35px;
      right: 32px;
    }
    @media (max-width: 600px) {
      width: 129.806px;
      height: 140px;
      position: static;
    }
  }

  @media (max-width: 1100px) {
    .whom-block__description {
      max-width: 542px;
    }
  }
  @media (max-width: 800px) {
    .about-whom__block-content {
      max-width: 343px;
    }
  }
}

.about-whom__block:nth-of-type(2) {
  &:after{
    width: 169px;
    height: 299px;
    background-image: url("data:image/svg+xml,%3Csvg width='169' height='299' viewBox='0 0 169 299' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M95.5404 279.15C97.2323 283.519 100.744 286.983 105.124 288.65C100.744 290.316 97.2323 293.78 95.5404 298.15C93.8313 293.791 90.3259 290.333 85.957 288.65C90.3368 286.983 93.8485 283.519 95.5404 279.15Z' fill='%23735CFF'/%3E%3Cpath d='M10.5404 0.149658C12.2323 4.51959 15.7439 7.98331 20.1237 9.64966C15.7439 11.316 12.2323 14.7797 10.5404 19.1497C8.83125 14.7908 5.32587 11.333 0.957031 9.64966C5.33678 7.98331 8.84845 4.51959 10.5404 0.149658Z' fill='%23735CFF'/%3E%3C/svg%3E");

    @media (max-width: 600px){
      background-image: url("data:image/svg+xml,%3Csvg width='151' height='260' viewBox='0 0 151 260' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M87.5404 90.1495C89.2323 94.5195 92.7439 97.9832 97.1237 99.6495C92.7439 101.316 89.2323 104.78 87.5404 109.15C85.8313 104.791 82.3259 101.333 77.957 99.6495C82.3368 97.9832 85.8485 94.5195 87.5404 90.1495Z' fill='%23735CFF'/%3E%3Cpath d='M122.54 21.1495C124.232 25.5195 127.744 28.9832 132.124 30.6495C127.744 32.3159 124.232 35.7796 122.54 40.1495C120.831 35.7907 117.326 32.3329 112.957 30.6495C117.337 28.9832 120.848 25.5195 122.54 21.1495Z' fill='%23735CFF'/%3E%3C/svg%3E");

    }
  }
  .about-whom__block-image {
    width: 235px;
    height: 224px;
    @media (max-width: 800px) {
      position: absolute;
      top: 28px;
      right: 21px;
    }
    @media (max-width: 600px) {
      position: static;
      width: 161px;
      height: 153.175px;
    }
  }

  @media (max-width: 1100px) {
    .whom-block__description {
      max-width: 558px;
    }
  }
  @media (max-width: 800px) {
    .about-whom__block-content {
      max-width: 383px;
    }
  }
}

.about-whom__block-content {
  min-height: 258px;
  @media (max-width: 1100px) {
    flex: 1;
    min-height: unset;
  }
}
.about-whom__block-images{
  @media (max-width: 800px) {
    display: flex;
  }
}

.whom-block__title {
  color: #0D1834;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  margin-bottom: 19px;
  max-width: 298px;
  @media (max-width: 1100px) {
    max-width: 100%;
  }
  @media (max-width: 600px) {
    font-size: 24px;
    line-height: 39px;
    margin-bottom: 8px;
  }
}

.whom-block__description {
  color: #5B697F;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.36px;
  max-width: 274px;
}

.whom-block__link {
  display: flex;
  padding: 12px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 144%;
  border-radius: 12px;
  background: #735CFF;
  transition: .3s ease;
  margin-top: 53px;

  &:hover {
    transform: scale(1.03);
  }

  @media (max-width: 1100px) {
    margin-top: 45px;
  }
  @media (max-width: 600px) {
    margin-top: 32px !important;
  }
}

.about-whom__block-image {
  object-fit: contain;
}


.about-section__link{
  width: 240px;
  height: 49px;
  display: flex;
  border-radius: 12px;
  background: #735CFF;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 144%;
  transition: .3s ease;
  margin-left: auto;
  margin-right: auto;
  &:hover{
    transform: scale(1.03);
  }
}