.location-page__back {
  position: absolute;
  left: 0;
  top: 28px;
  color: #0D1834 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  display: flex;
  align-items: center;
  gap: 9px;

  svg {
    transition: .3s ease;

  }

  &:hover {
    color: rgba(13, 24, 52, 0.71) !important;
    svg {
      transform: translateX(-4px);
    }
  }
}

.location-page__button{
  width: 240px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #735CFF;
  white-space: nowrap;
  color: #FFF !important;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 144%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.location-register__dialog{
  border-radius: 12px;
  background: #FFF;
  @media (max-width: 600px) {
    width: calc(100vw - 24px);
    left: 12px;
    position: absolute;
    top: 56px;
    padding: 0;
    margin: 0;
  }
}